fastapi
uvicorn[standard]
langchain>=0.1
langchain-google-genai
langchain-pinecone
langchain-huggingface
langchain-community
google-genai
pinecone-client>=6.0.0
sentence-transformers>=2.2.0
numpy
tqdm
python-multipart
PyPDF2
python-docx
faiss-cpu
pydantic
requests
python-dotenv
