fastapi
uvicorn[standard]
langchain
langchain-google-genai
langchain-pinecone
langchain-huggingface
langchain-community
google-genai
pinecone-client
sentence-transformers
numpy
tqdm
python-multipart
PyPDF2
python-docx
pydantic
requests
python-dotenv
